html,body{
    --color-main :#1e3799 ;
    --color-sec : #eb2f06;
    background-color: rgb(236, 213, 195) ;
    height: 100%;
    overflow-y:hidden;
    
}
#full{
    width: 300px;
    height: 300px;
    background-color: var(--color-main);
    border-radius: 100%;
    margin: 100px auto;
    transition-duration: .5s;
}
img{
    position: absolute;
    height: 400px;
}
#full:hover{
    background-color: var(--color-sec);
    width:400px ;
    height: 400px;
}
#full:hover>#bas{
    transform: rotate(20deg);
    transform-origin: bottom left;
    transition-duration: .5s;    
    animation: speakBas .8s  ease-in-out .3s infinite;
}
#full:hover>#haut{
    transform: rotate(-20deg);
    transition-duration: .5s;    
    transform-origin: bottom left;    
    animation: speakHaut .8s  ease-in-out .3s infinite;
}
@keyframes speakHaut{
    0%{}
    10%{transform: rotate(-21deg);}
    30%{transform: rotate(-19deg);}
    50%{transform: rotate(-22deg);}
    75%{transform: rotate(-18deg);}
    100%{transform: rotate(-20deg);}
    100%{}
}
@keyframes speakBas{
    0%{}
    10%{transform: rotate(21deg);}
    30%{transform: rotate(19deg);}
    50%{transform: rotate(22deg);}
    76%{transform: rotate(18deg);}
    100%{transform: rotate(20deg);}
    100%{}
}
#text{
    /* background-color: #eb2f06; */
    position: relative;
    margin-top: 220px;
    margin-left:150px;
    width :550px;
    position: absolute;
    color : rgb(2, 22, 19);
    font-family: 'Merriweather', serif;
    font-size: 35px;
    text-align: left;    
    transition: font-size .5s;  
    -webkit-transition:font-size .5s;      
    -moz-transition:font-size .5s;  
 
}
/* #full:hover>#text{
    font-size: 50px;

    
} */
#name{
    margin-top : 400px;
    width :320px;
    position: absolute;
    color : rgb(2, 22, 19);
    font-family: 'Merriweather', serif;
    font-size: 20px;
    text-align: right;     
}